  

.painelvendas h3 {
    width: 100%;
    color: #9bacb9;
    font-weight: 400;
}
.name {
    font-size: 23px;
    text-transform: capitalize;
    color: #ff5201;
    font-weight: 700;
    margin: 0 auto 25px;
}

@media(min-width:769px){
    .painelvendas{
        display: none;
        }
      
}


@media(min-width:1024px){
    
        .data_container{
            display: flex;
        }
        .data_container > div {
            width: 45%;
            margin: 0 20px;
        }   
}

.observacoes {
    color: indianred;
    font-style: italic;
}