body{
    background-color: #fff;
    margin: 0   ;
}

.header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.xs-hidden{
    display: none;
}
.closeAccounts {
    margin: 30px auto;
}
div#closedsContainer > div {
    margin: 20px auto;
}
.btnhome{
font-size: 20px;
margin: 20px;
color: red;
}
.closeAccounts .mylabel {
    margin: 10px auto;
}
@media (min-width:768px) {
    .sm-hidden{
        display: none;
    }  
    .xs-hidden{
        display: inherit;
    }
}

@media (max-width:768px) {
/* div#containerTables {
    max-height: 290px;
    overflow-x: auto;
    align-items: flex-start;
} */
}
.flx{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
div#containerTables .card {
    width: 32%;
}
/* div#containerTables .card {
    width: 18%;
} */
.total button {
    display: none;
}
div#cartList .controls {
    display: none;
}
.total {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 32px 0;
    font-weight: bold;
    font-size: 1.3rem;
    font-weight: bold;
}

select:focus-visible {
    outline: none !important;
}
.user {
    color: #818f9b;
    padding: 5px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
}
  .user strong {
    font-weight: bold;
    color: #E5040E;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    width: auto;
    color: #E5040E;
    margin: 35px 0px;
    line-height: 1.1;
}
h5 {
    text-align: left;
    font-weight: 900;
    color: #818f9b;
    font-size: 21px;
    margin: 10px 20px;
    
 
}
div#closedsContainer   {
   color: #818f9b;
}
.data_container {
    margin:0px auto 20px;
    background-color: #FBFBFB;
    padding: 10px;
    border: 0px;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 50px;
} 
div#contentdata table { 
    width: 90%;
    margin: 0px auto;
}
div#contentdata tr {
    text-align: left;
}
div#contentdata table tr th {
    padding:5px;
}
.down {
    transform: rotate(85deg);
    display: inline-flex;
    margin: 0 5px;
}
.down svg {
    color: white !important;
    font-size: 11px;
}
div#contentdata {
    overflow: auto;
    max-height: 80vh;
}
.viewDetails {
    display: none;
    background: #eee;
    border-radius: 15px;
}
 

.viewDetails  table tr th {
    padding: 2px !important;
}
.data_container .card  {
    background-color: white;
    box-shadow: 2px 6px 10px #dbdbdbeb;
    margin: 20px 5px;

}
.viewDetails table {
    font-size: .8rem;
}

button.btn-inline-datails {
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    background: blue;
    width: 100%; 
border-radius: 15px;
    display:flex;
justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    padding: 0 15px;
    margin: 0 auto;
    
}
.data_container .card:last-child {
    margin-bottom: 20px !important;
}
form.closeForm .mylabel.select {
    margin: 5vh auto;
}

form.closeForm label {
    background: transparent;
    width: auto;
    padding: 10px;
}

form#formOrderNew .mylabel {
    margin: 3px;
    background: transparent;
}
div#whatsappId {
    width: 100%;
    background: transparent;
}
.card h6 {
        color: red;
        font-size: 1.0rem;
        margin: 0;
        
    text-transform: capitalize;
}
.card svg{
    color: red;
}
div#detailsAccounts {
    position: fixed;
    top: 0;
    background: white;
    z-index: 999;
    width: 100%;
    display: none;
    height: 100%;
}
div#closedsContainer .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.getDatails {
    width: 130px;
    height: 40px;
    text-align: right;
}
.msgLoad {
    position: fixed;
    background: #f1f2f3;
    color: #ff253a;
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    z-index: 99999;
    padding: 50px 0 0;
}
.card strong {
    color: #818f9b;
}
.data_container .card span {
    color: black;
    font-size: 13px;
    font-weight: 500;
}
.data_container span.tooltip {
    background: red;
    padding: 10px;
    position: absolute;
    right: 0;
    top: -10px;
    color: white !important;
    border-radius: 50px;
}

footer {
    position: fixed;
    z-index: 99999;
    background: transparent;
    width: 100%;
    left: 0;
    height: 20px;
    display: flex;
    bottom: 0;
    padding: 20px 0;
    justify-content: center;
    color: #bad;
}
.listprod {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
p {
    color: #818f9b;
}
.listprod > div {
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;

}

.qtd-prod{
    width: 25%!important;
}
.price-prod {
    text-align: right;
    width: 30% !important;
}
.whatsbutton{
    background: red;
    float: right;
    width: 100px;
    color: white;
    border-radius: 30px;
    padding: 5px

}
.whatsbutton svg{
    color: white;
    margin: 0 5px;
}
div#containerReportsCloseds {
    padding: 0 20px;
}
div#addOrdersContainer {
    position: fixed;
    left: 0;
    width: 100%;
    background: #FBFBFB;
    top: 0;
    height: 100%;
    z-index: 999;
    display: none;
    overflow: auto !important;
    
}
div#addOrdersContainer h2 {
    padding: 20px;
    margin: 0;
}
.card.red {
    background: red;
}

.card.red span,.card.red h6 {
  color: white;
}

 
label {
    width: 100%;
    height: 48px;
    color: #73859E;
    font-size: 1.1rem;
    font-weight: 300;
   
    align-items: center;
    display: flex;
    background: white;
   
    border-radius: 40px 0 0 40px;
    margin: 0;
    padding: 2px;
    position: relative;
    bottom: 3px;
}


@media(min-width:1200px){
    div#msgLoadSend {
     
        width: 46%;
        right: 0;
        left: inherit;
    }
    div#addOrdersContainer {
        
     
        right: 0;
        left: inherit !important;
        width: 45%; 
 
        box-shadow: 2px 6px 10px #dbdbdbeb;    
      
    
         
    }
    div#contentSearch {
        width: 90%;
        margin: 0 auto;
    }
}