body{ 
font-family: 'Quicksand', sans-serif;
color: #f6f6f6;
}
button[status='disable'] {
    opacity: 0.5;
}

div#login {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    /* background-image: url(assets/img/bg-app.png); */
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}
.modal {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 20px 0px;
    display: none;
}

 
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px; 
}

#login .btn-circle-bottom{
z-index: 999;
}
.btn-circle-bottom{
    z-index: 999999;
    }
.show{
    display: block !important;
}


input {
    display: block;
    width: 100%;
    border: 1px solid #8B9398;
    border-radius: 50px;
    margin: 5px 0;
    width: 90%;
    padding: 10px 15px;
    height: 30px;
}

input:focus-visible {
    outline-offset: 0px;
    border-color: red!important;
}
.modal .h-button {
    position: fixed;
    bottom: 30px;
    max-width: 300px;
    height: 70px;
    border-radius: 90pc;
    text-transform: uppercase;
}
input:focus-visible {
    outline:  #ffb001 auto 1px !important;
}
#login form:before {
    content: '';
    background-image: url(assets/img/border.png);
    width: 100%;
    position: absolute;
    height: 50px;
    top: -40px;
    background-repeat: no-repeat;
    left: 0;
    background-size: cover;
}

div#mesas button {
    margin: 10px;
    border: 0;
    background:transparent;
    padding: 10px;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    min-width: 90px;
    box-shadow: 2px 2px #f4f3f3;
    height: 50px;
    
    
}
.mesabutton{
    background: #ff5201 !important;

}
.h-button{
    background: #ff5201 !important;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: bold;

}
/* #login form button {
    position: absolute;
    right: 10px;
    bottom: 10px;
} */

.btn-bottom{ 
    right: 30px;
    bottom: 30px;
    border-radius: 50px;
    background: #ff5201;
    width: 100%;
    height: 45px;
    color: white;
    z-index: -1;
    box-shadow: 2px 2px #f4f3f3;
    font-size: 16px;
    margin: 0;
    z-index: 999;
}

button {
 
    border: 0;
    background-color: transparent;
    text-transform: capitalize;
}

.controls {
    background-color: white;
    border: 0;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
p{
    padding: 0;
    margin: 0;
}
.prodresult {
    display: flex;
    font-size: 11px;
    margin: 10px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}
div#searchResult {
    background: #f9f9f9;
    width: 100%;
    padding: 0;
    overflow: auto; 
}

div#innerMesaNumber {
    background: #ff5201;
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin: 75px;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    display: none;
}
.prodresult span {
    padding: 15px;
}
.prodresult div {
    font-size: 15px;
    text-align: left;
}
div#mesas {
    display: flex;
    flex-wrap: wrap; 
}

.openTable {
    background: #f6f6f6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    overflow: auto;
    z-index: 999;
}
.controls button {
    color:red;
    font-size: 25px;
    font-weight: 100;
    font-family: monospace;
    padding: 0px 30px;
    font-size: 15px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}
  
.idPedido {
    font-size: 60px;
    color: #6e7189;
    display: flex;
    justify-content: center;
}

.produtoMesa {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    color: #6e7189;
}

.card {
    width: 80%;
    height: auto;
    background: white;
    position: relative;
    padding: 22px;
    margin: 20px auto;
    border-radius: 15px;
    max-width: 430px;
    box-shadow: 2px 6px 10px #f7f7f7;
    
}
span.orderId {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #a9a8b8;
    margin: 0 auto 20px;

}
 
.card .nameprodPrint {
    width: 100%;
    margin: 0 10px;
}
 
.prodgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #ddd;
}

 
.nomeProd {
    width: 100%;
    margin: 0 10px;
    font-size: 15px;
    text-transform: uppercase;
    
    font-size: .9rem;

}
.priceresumo {
    text-align: left;
    width: 35%;
    font-size: .8rem;

}

.pedidoResumo {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 10px auto;
    font-weight: 500;
    color: #81808f;
    align-items: center;
}
div#porcoes {
    margin: 33px auto;
}
div#porcoes, div#pasteis, div#bebidas, div#tapiocas {
    /* border: 1px solid #e1e1e1; */
    padding: 10px;
    border-radius: 11px;
 
    
    margin: 3px auto;
}
 .card h3{
    font-size: 15px;
    text-transform: uppercase;
    color: #ff9800;
    margin: 10px auto 30px;
 }
 .setor {
    display: none;

}
.setor h4 {
    border-bottom: 1px solid #c7c7c7;
    color: #81808f;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    display: none;
}
/* button.clouseOrder {
    background: #ff5201;
    width: 100%;
    height: 60px;button.closeOrder
    margin: 20px auto;
    position: fixed;
    bottom: 0;
    color: white;
    text-transform: uppercase;
} */

div#dataOrder {
    position: fixed;
    z-index: 999;
    background: white;
    bottom: 0;
    width: 100%;
    text-align: center;  
    left: 0;
    height: 150px;  
}
button.closeOrder {
    background: red;

    border: 2px solid white;
    width: 100%;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    height: 50px;
    margin: 10px auto;
    max-width: 250px;
}
div#dataOrder div#subTotal {
    color: #08243F;
    margin: 25px auto 0;
    font-weight: 800;
}

.card:last-child {
    margin-bottom: 300px;
}
button.printAll {
    display: none;
    width: 70%;
    border: 1px solid #9e9e9e;
    justify-content: center;
    border-radius: 40px;
    height: 40px;
    align-items: center;
    margin: 24px auto 0;
    max-width: 264px;
    color: #9e9e9e;
}


@media(min-width:500px){
    div#relatorioFaturamentoAtual {
        display: flex;
    }
    .relatorioMesas,.relatorioDelivery {
        width: 45%;
        margin: 0 5px;
    }
   
}
@media(max-width:500px){

 
}
 
.overylay {
    background: #81808f;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.modalBody {
    background: white;
    width: 90%;
    border-radius: 10px;
    height: auto;
    position: absolute;
    z-index: 9999;
    top: 0;
    margin: 5%;
    overflow: auto;
    padding: 0;
    min-height: 90%;
    left: 1px;

}

div#modalApp{
    display: none;
}.quantd {
    width: 15%;
}

.botoes {
    background: #ff5722;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botoes button {
    color: #ffeb3b;
    border: 2px solid;
    min-height: 50px;
    border-radius: 30px;
    width: auto;
    margin: 0 10px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    padding: 0 30px;
    text-transform: inherit;
}
.botoes button.white {
border-color: white;
color: white;
}
.botoes a {
    color: white;
  
  
}
.botoes {

 
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
}   
div#modalContent .card {
    margin-bottom: 20%;
}

div#faturamentoatual {
    text-align: center;
    margin: 30px auto;
    border: 1px solid #eee;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff5722;
    border-radius: 10px;
    color: #fff;
    /* width: 100%; */
}

div#closeForm {
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100%;
    background: #f6f6f6;
    width: 100%;
    left: 0;
}
label {
    display: flex;
    background: white;
    width: 45px;
    height: 48px;
    border-radius: 40px 0 0 40px;
    margin: 0;
    padding: 2px;
    position: relative;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

}
select{
    color: #73859E;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    width: 100%;
    border: 0;
    border-radius: 0 40px 40px 0;
    box-shadow: none;
    height: 50px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    background-color: white;
}
.mylabel {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 40px auto;
    color: #ff5722;
}

.placeCheckout {
    position: fixed;
    bottom: 0;
    height: 130px;
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn{
    background: red;
    width: 230px;
    height: 45px;
    border-radius: 50px;
    color: white;
    border: 2px solid;
}