
<div class="notificationView">
                    
    <div class="controls">
        <button onclick="getModalNotification()">
        &lt; 
        </button>
        <button onclick="getModalNotification()">
        x
        </button>
    </div>
    
    <div class="card">
    <button class="close" onclick="">
        x
    </button>
    <div class="mesaIcon">Mesa 2</div>
        <div class="datails">
            <h6>Olá você recebeu um novo pedido</h6>
            <p>15/01 às 15:37  Mesa: 30  / Daniel  Soares</p>
            <div class="buttons">
                <a href="">Mais detalhes</a>
                <button class="recusa">Recusar</button>
                <button class="aceita">Aceitar</button>
            </div>
        </div>
    </div>
    </div>