#menu{
    background: red;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
    height: auto;
    left: 0;
    /* display: none; */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#menu > div {
    margin: 35px auto;
}

.menu-nav {
    background: red;
    left: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0px;
    display: none;
}
.menu-nav.show{
    display: block;
} 
.menu-nav .controls button {
    color: red;
    
}
div#menu-nav ul li   {
    list-style: none;
}
div#menu-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 0;
    display: block;
}

